:root {
  --bg-header-color: #e8e8e8;
  --bg-card-color: #f4f4f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("../assets/bg.png") center/cover no-repeat;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  background-color: var(--bg-header-color);
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
  margin-left: 30px;
}

header span {
  color: green;
}

footer {
  text-align: center;
  color: slategrey;
  margin: 30px 30px;
}

#search-form {
  text-align: center;
  padding: 20px 0;
  margin-left: 20px;
}

#search-form label {
  font-size: 20px;
}

#search-form input {
  width: 1000px;
  height: 40px;
  padding: 0px 50px;
  border-radius: 10px;
  border: 1px solid green;
}

#search-form button {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  transform: translateX(-60px);
  border: 1px solid gray;
}

#search-input::placeholder {
  text-align: center;
}

#search-btn:hover {
  background-color: rgb(30, 158, 30);
}

#card-list {
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  list-style: none;
  padding-top: 150px;
}

.movie-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 10px;
  padding: 30px;
  width: 300px;
  justify-self: center;
  background-color: var(--bg-card-color);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: transform 100ms ease-in;
  position: relative;
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-card .movie-title {
  margin-bottom: 10px;
}

.movie-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
}

.movie-card p:last-child {
  font-weight: 600;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}
